// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
  padding-top: 12px;
  padding-bottom: 12px;
}

.button-display a, .button-display form {
  margin-top: 5px;
  display: inline-block !important;
}

.nav-bar {
  width: 100%;
  margin: 0 150px;
  padding: 0px;
  display: inline-block;
}

.nav-bar h1 {
  display: inline-block;
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: absolute;
  margin-left: 100px;
}

.nav-bar h4 {
  display: inline-block;
  margin-left: 430px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
}

.nav-bar img {
  margin: 0;
  padding: 0;
  height: 80px;
  width: auto;
  position: absolute;
  top: 0;
}

.container {
  margin-top: 30px;
}
